<%- include("partials/header") -%>

<h1>Home</h1>

<p> <%= firstPara %> </p>



<% journal.forEach(function(element) { %>
    <h1> <%= element.newCompose %> </h1>
    <p> <%= element.newPost.substring(0, 100) + "..." %> 
        <a href="/posts/<%=element.newCompose%>">Read More</a> 
    </p>
<% }) %>

<%- include("partials/footer") -%>